# Postgres
POSTGRES_USER=crypto
POSTGRES_PASSWORD=crypto
POSTGRES_DB=crypto_pulse
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# CoinGecko
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
COINGECKO_VS_CURRENCY=usd
COINGECKO_TOP_N=50
